@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corinthia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unna&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');



.lexicon_h{
  font-size: 5em;
  font-family: Great Vibes;
}

/* Style for search bar and results */
.search-result {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.3s ease;
}

.search-result:hover {
  background-color: #f5f5f5;
}

/* Style for card */
.card {
  width: 70vw;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 20px;
  font-family: Roboto Mono;
  font-size: 9rem;
}

/* Style for search bar input */
#searchInput {
  border-radius: 25px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  width: 100%;
  transition: border-color 0.3s ease;
}

#searchInput:focus {
  border-color: #007bff;
}

/* Style for search results container */
#searchResultsContainer {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  max-height: 150px;
  overflow-y: auto;
  margin-top: 5px;
}

/* Style for card content */
#cardHeading {
  font-size: 3rem;
  margin-bottom: 10px;
  font-family: 'Quintessential';
  font-weight: bold;
}

#cardPara {
  font-size: 1.8rem;
  color: #34495E;
  margin-bottom: 10px;
  font-family: 'Roboto Mono';
  font-weight: bold;
  letter-spacing: -0.08rem;
}

#cardExtra {
  font-size: 1.6rem;
  color: #515A5A;
  margin-bottom: 10px;
  font-family: 'Quintessential';
  font-weight: bold;
}

#cardTag {
  display: inline-block;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: 'Monospace';
}
