/*font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Lugrasimo&display=swap');


#mh1{
	padding: 20px 25px;
  font-weight: bold;
  font-size: 24px;
  color: #CB4335;
  font-family: Lugrasimo;
}

/*Nav bar*/

nav {
  background-color: #fff;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
}

.logo a {
  color: #CB4335;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
  font-family: Lugrasimo;
}

.logo a span {
  color: #000000;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin: 0 10px;
}

.menu a {
  display: block;
  padding: 10px 15px;
  border-radius: 5px;
  color: #ffffff;
  background: #000000;
  text-decoration: none;
  border: 3px solid #000000;
  transition: all 0.3s ease;
}

.menu a:hover {
  color: #ff0000;
  border-color: #ff0000;
  margin: -1px;
}

.menu a.signup {
  background-color: #16A085;
  color: #fff;
  border-color: #16A085;
}

.menu a.signup:hover {
  color: #16A085;
  background-color: #fff;
}

.menu a.active{
  background-color:  #CB4335;
  color: #ffffff;
  border-color:  #CB4335;
}



/*Mobile Nav Bar*/

.mtopnav {
  overflow: hidden;
  position: relative;
}

.mtopnav #myLinks {
  display: none;
  background-color: black;
  color: #ffffff;
  text-align: center;
}

.mtopnav a {
  padding: 25px 29px;
  margin: 0;
  text-decoration: none;
  font-size: 20px;
  display: block;
}

.mtopnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.mtopnav #myLinks.a:hover {
  background-color: #ddd;
  color: black;
}


/*	content*/

/*  index   */

#banner{
  background: #000000;
  text-align: center;
  font-family: Lugrasimo;
  font-size: 9vw;
}

#banner span{
  color: #ff0000;
}

#mainclass{
  font-family: Quicksand;
  font-size: 20px;
}

/*    the list    */

.card-container {
  margin-top: 20px;
}

.card {
  height: 250px; /* Set a fixed height for the cards */
}

.card .card-img-top {
  height: 150px; /* Set a fixed height for the images */
  object-fit: cover; /* Ensure images maintain aspect ratio */
}

/*    articles    */

.a-title{
  font-size: 30px;
}

.a-image{}

.a-para{}

.a-end{}


/* footer*/

.ftrtxt{
  background: transparent;
  font-size: 1.5em;
}

.ftrtxt .subtxt1{
  color: #CB4335;
  font-family: Lugrasimo;
}

.ftrtxt .subtxt2{
  font-family: Lugrasimo;
}

.ftrtxt .subtxt3{
  
}

.subtxt4 , .subtxt5{
  font-family: Trajan Pro, Cinzel;
}

.subtxt4{
  color: #E74C3C;
}

.subtxt5{
  color: #2471A3;
}

.footer {
  background: #111111;
  color: white;
  text-align: center;
  padding: 8vh 20vw;
  border-top: 2px solid #333333;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  font-family: Arial, sans-serif;
}

.footer-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: #ffffff;
  transition: all 0.3s ease;
  margin-bottom: 0.5rem;
}

.footer-links a:hover {
  color: #ff0000;
  border-bottom: 1px solid #ff0000;
}

.footer p {
  margin-top: 30px;
}

#cprtxt{
  font-family: Lugrasimo;
}